#root {
	margin: 0;
	padding: 0;
	background-image: url("../public/landingpage.avif");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
}
