.conteinerPrincipal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-primario);
	margin-top: 4rem;
	width: 100%;
	min-height: 100vh;
}

.title {
	font-size: 1.5rem;
	color: var(--color-text);
}

.conteiner {
	display: flex;
	justify-content: center;
	width: 50%;
	height: 100%;
	background-color: var(--color-secundario);
	border-radius: 2rem;
	color: var(--color-text);
	margin-bottom: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	margin: 1rem;
	min-width: 100%;
	gap: 1rem;
}

.conteinerCampus {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: 4rem;
	text-align: center;
	align-items: center;
}

.errors {
	font-size: 0.8rem;
	color: yellow;
	margin-top: 0.1rem;
}

.subTitle {
	font-size: 1rem;
	margin: 0;
	color: var(--color-text);
}

.conteinerSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	height: fit-content;
	margin-bottom: 0.5rem;
}

.subCampus {
	text-align: center;
	align-items: center;
	height: 3rem;
	padding: 0.5rem;
}

.section {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: fit-content;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 0.5rem;
	margin-left: 5rem;
}

.conteinCheck {
	width: fit-content;
	height: fit-content;
}

.rating {
	text-align: center;
	margin: 1rem;
}

.slider {
	display: flex;
	cursor: pointer;
	width: 8rem;
}

.texarea {
	width: 70%;
	border-radius: 10px;
	padding: 1rem;
}

.texarea::placeholder {
	color: var(--color-placeholder);
}

.inputs::placeholder {
	color: var(--color-placeholder);
}

.btn {
	border-radius: 8px;
	border: 1px solid transparent;
	font-weight: 500;
	height: 2rem;
	width: 4rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: var(--color-btn);
	color: var(--color-text);
	transition: border-color 0.25s;
}

.btn:hover {
	border-color: var(--color-btn-hover);
}
.btn:focus,
.btn:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.btnDisable {
	height: 2rem;
	width: 4rem;
	background-color: var(--color-secundario);
	cursor: pointer;
	border-radius: 5px;
}
