.conteiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin-top: 3rem;
	background-color: var(--color-primario);
}

.title {
	color: var(--color-text);
	font-size: 2rem;
	letter-spacing: 1px;
	margin: 0;
	padding-bottom: 2rem;
}

.section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2rem;
	gap: 2rem;
	border: 1px solid black;
	border-radius: 2rem;
	background-color: var(--color-card);
	width: 50rem;
	height: 30rem;
}


.info {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 50%;
	margin: 0;
	gap: 2rem;
}


.campus{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

}


.title2 {
	color: var(--color-text);
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin: 0;
	
}

.textdesc{
	font-size: 1rem;
	margin: .5rem;
	letter-spacing: 2px;
}


.conteinerImg {
	width: 50%;
	min-height: 100%;
}



.conteinerDesc {
	width: 100%;
	height: inherit;
}



.description{
	max-height: 10rem;
	padding-right: 1rem ;
	overflow: auto;
	text-align: justify;
	font-size: 1rem;
	
}


.img {
	width: 100%;
	height: 50%;
	margin-bottom: 1rem;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 1.5rem;
}

