.conteinerPrincipal {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: var(--color-primario);
}

.conteiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% - 13rem);
	margin-top: 4rem;
	height: fit-content;
	gap: 1rem;
}

.conteinerCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	gap: 1rem;
	margin-top: 1rem;
	margin-right: 2rem;
}

.section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2rem;
	width: fit-content;
	height: 2rem;
}

@media screen and (max-width: 780px) {
	.conteiner {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.isOpenOn {
		display: none;
	}
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
	.conteiner {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}
