.conteiner {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	align-items: center;
	gap: 2rem;
	margin: .5rem;
}

.conteinerCards {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;
	gap: 1rem;
	text-align: center;
}

.section {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	width: fit-content;
	height: 2rem;
}
